Resources:
  WebsiteBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        Fn::Join:
          - "-"
          -
            -
              "Fn::GetOptionSetting":
                OptionName: ApplicationName
            - "ui"
            -
              Ref: "AWSEBEnvironmentName"
      AccessControl: PublicRead
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: 404.html

  UIWebsiteBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: "WebsiteBucket"
      PolicyDocument:
        Statement:
          -
            Action:
              - "s3:GetObject"
            Effect: "Allow"
            Resource:
              Fn::Join:
                - ""
                -
                  - "arn:aws:s3:::"
                  -
                    Ref: "WebsiteBucket"
                  - "/*"
            Principal: "*"

Outputs:
  WebsiteBucketName:
    Description: "UI bucket name"
    Value:
      Ref: "WebsiteBucket"
